<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bidule chouette</title>
  <link rel="icon" href="static/img/icon_rena.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    {% include 'layouts/partials/_header.html' %}

    <div class="main">{% block body%} {% endblock %}</div>
    {% include 'layouts/partials/_footer.html' %}


</body>
</html>