<!-- Footer -->

<footer class="page-footer font-small pt-4">

    <!-- Footer Links -->
    <div class="footer container text-center text-md-left bg-success rounded">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">À propos de <a href="/">Jarditou</a></h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, nobis consequatur! Suscipit
                    facere amet, necessitatibus dolorem distinctio odio ea tempora sunt dolores beatae! Officia
                    excepturi, repellendus enim pariatur illo recusandae?
                    Harum vero nulla recusandae doloremque in provident dolorem repudiandae dignissimos, omnis eligendi
                    tempore, sed rem animi consectetur illum dolor ipsum esse numquam libero. Fuga, exercitationem
                    voluptatum nam mollitia quasi dicta!
                    Fugit magni doloremque ipsam explicabo enim ad voluptatum nemo animi quaerat sequi dolores, cum.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Plan du site</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link" href="#!">Accueil</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#!">Nos produits</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Liens utiles</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link" href="#!">Nous contacté</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#!">Mon compte</a>
                    </li>
                     <li>
                        <a class="nav-link" href="#!">Horaires</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#!">Mentions légales</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->


        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a style="color: green;" href="/">Jarditou</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->