<header>
    <div class="container">
        <!-- LOGO JARDITOU -->
        <div class="row">
            <div class="col">
                <div class="text-center rounded">
                    <a href="/"><img class="img-fluid" src="static/img/jarditou.logo.png" style="text-decoration: none;"
                                     alt="Logo de Jarditou"></a>

                </div>
            </div>
        </div>
        <!-- END LOGO JARDITOU -->

        <!-- NAVIGATIONS -->
        <nav class="navbar navbar-expand-lg  bg-success rounded">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="/">Accueil <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="{{ url_for('catalogue') }}">Catalogue</a>
                    <a class="nav-link" href="#">Mon compte</a>
                    <a class="nav-link" href="{{url_for('produits') }}">Produits</a>

                </div>
            </div>
        </nav>
        <!-- END NAVIGATIONS -->

        <!-- BANNER JARDITOU -->
        <div class="row">
            <div class="col">
                <a href="/"><img class="rounded" style="width: 100%;" src="static/img/conseils.png"
                                 alt="Maitre d'oeuvre de Jarditou" id="banner-jarditou"></a>

            </div>
        </div>
        <!-- END BANNER JARDITOU -->

    </div>


</header>