{% extends 'layouts/app.jarditou.html' %}
{% block body %}
<div class="text-center">
    <section>
        <h2><strong>L'entreprise</strong></h2>
        <p>Notre entreprise familiale met tous son savoir-faire a votre disposition dans le domaine du jardin et du
            paysagisme.</p>
        <p>Créée il y'a 70 ans, notre entreprise vend des fleurs, arbustes, matériel à main et motorisés.</p>
        <p>Implanté à Amiens, nous intervenons dans tous le département de la Somme: Albert, Dolens, Péronne,
            Auberville,
            Corbie.</p>

        <h2><strong>Qualité</strong></h2>

        <p>Nous mettons à votre disposition un service personnalité, avec un seul interlocuteur durant tout votre
            projet</p>
        <p>Vous serez séduit par notre expertise, nos compétences et notre sérieux.</p>

        <h2><strong>Devis gratuit</strong></h2>
        <p>Vous pouvez bien sûr contacter pour de plus amples informations ou pour une demande d'intervention.
            <p>Vous souhaitez un devis? Nous vous le réaliseront gratuitement.</p>
    </section>
</div>

{% endblock %}
